apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: nexus
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: order-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3007
        env:
        - name: SPRING_DATA_MONGODB_URI
          value: "mongodb+srv://nexus:nexus5@cluster0.kei0rsa.mongodb.net/nexus_orders?retryWrites=true&w=majority&appName=Cluster0"
        - name: USER_SERVICE_URL
          value: "http://user-service:3000"
        - name: PRODUCT_SERVICE_URL
          value: "http://product-service:3002"
        - name: PAYMENT_SERVICE_URL
          value: "http://payment-service:3006"
        - name: SERVER_PORT
          value: "3007"
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: nexus
spec:
  ports:
  - port: 3007
    targetPort: 3007
  selector:
    app: order-service
