apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: nexus
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
      - name: product-service
        image: product-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3002
        env:
        - name: SPRING_DATA_MONGODB_URI
          value: "mongodb+srv://nexus:nexus5@cluster0.kei0rsa.mongodb.net/nexus_products?retryWrites=true&w=majority&appName=Cluster0"
        - name: SERVER_PORT
          value: "3002"
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: nexus
spec:
  ports:
  - port: 3002
    targetPort: 3002
  selector:
    app: product-service
