apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: nexus
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: user-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        env:
        - name: SPRING_DATA_MONGODB_URI
          value: "mongodb+srv://nexus:nexus5@cluster0.kei0rsa.mongodb.net/nexus_users?retryWrites=true&w=majority&appName=Cluster0"
        - name: SERVER_PORT
          value: "3000"
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: nexus
spec:
  ports:
  - port: 3000
    targetPort: 3000
  selector:
    app: user-service
